{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block extra_menu_items %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><label style="margin-left:10px;" class="checkbox"><input id="hide-buttons" type="checkbox"{% if session['hide_buttons'] == 'true' %} checked{% endif %}> Hide buttons</label></li>
              <li><label style="margin-left:10px;" class="checkbox"><input id="paste-autosubmit" type="checkbox"{% if session['paste_autosubmit'] == 'true' %} checked{% endif %}> Autosubmit on paste</label></li>
              <li><label style="margin-left:10px;" class="checkbox"><input id="paste-save" type="checkbox"{% if session['save'] != 'false' %} checked{% endif %}> Save</label></li>
              <li><label style="margin-left:10px;" class="checkbox"><input id="modify-result" type="checkbox" checked>Modify result</label></li>

            </ul>
          </li>
{% endblock %}
{% block extra_javascript %}
{{ super() }}
<script>
$(function() {
  $("#auth_container").hide();
  $("#result_form").submit(function() {
    var result = $("#raw_textarea");
    var result_submit = $("#result_submit");
    // Disable form components
    result.attr("disabled", "disabled").addClass("disabled");
    result_submit.attr("disabled", "disabled").addClass("disabled");

    $.post("{{ url_for('submit') }}",
      {
        raw_paste: result.val(),
        qty: $('#fit_qty').val(),
        hide_buttons: $("#hide-buttons").is(':checked'),
        paste_autosubmit: $("#paste-autosubmit").is(':checked'),
        save: $("#paste-save").is(':checked'),
        result_id: $('#working_id').val(),
        trade_region: $('#trade_region').val(),
        auth_code: $('#auth_code').val(),
      }, 
      function(data) {
        result.val('');
        // Enable form components
        result.removeAttr("disabled").removeClass("disabled");
        result_submit.removeAttr("disabled").removeClass("disabled");
        // Populate results
        $('#result_container').html(data);
        $('#working_id').val($('#return_id').text());
      }).error(function() {
        // Enable form components
        result.removeAttr("disabled").removeClass("disabled");
        result_submit.removeAttr("disabled").removeClass("disabled");
        alert("Server responded with an error.");
      });
    return false;
  });
  
  $("#auth_form").submit(function() {
    var auth_input = $("#auth_input");
    var auth_submit = $("#auth_submit");
    // Disable form components
    auth_input.attr("disabled", "disabled").addClass("disabled");
    auth_submit.attr("disabled", "disabled").addClass("disabled");

    $.post("{{ url_for('auth') }}",
      {
        auth_input: auth_input.val(),
        result_id: $('#working_id').val(),
      }, 
      function(data) {
        auth_input.val('');
        // Enable form components
        auth_input.removeAttr("disabled").removeClass("disabled");
        auth_submit.removeAttr("disabled").removeClass("disabled");
        // Populate results
        if (data == 'True') {
            $("#auth_container").hide();
            $("#result_form").show();
            }
        else {
            alert ("Not authorized!"); }
      }).error(function() {
        // Enable form components
        auth_input.removeAttr("disabled").removeClass("disabled");
        auth_submit.removeAttr("disabled").removeClass("disabled");
        alert("Server responded with an error.");
      });
    return false;
  });
  
  $("#copy_form").submit(function() {
    var copy_submit = $("#copy_submit");
    // Disable form components
    copy_submit.attr("disabled", "disabled").addClass("disabled");

    $.post("{{ url_for('copy') }}",
      {
        result_id: $('#working_id').val(),
      }, 
      function(data) {
        $("#auth_container").hide();
        $("#result_form").show();
       
        // Populate results
        $('#result_container').html(data);
        $('#working_id').val($('#return_id').text());
      }).error(function() {
        // Enable form components
        copy_submit.removeAttr("disabled").removeClass("disabled");
        alert("Server responded with an error.");
      });
    return false;
  });
  
  $("#raw_textarea").bind('paste', function(e) {
    if($('#paste-autosubmit:checked').length > 0) {
      setTimeout(function() {
        $('#result_form').submit();
      }, 0);
    }
  });

  function toggle_buttons() {
    if ($("#hide-buttons").is(':checked'))
    {
      $('#buttons').hide();
    } else {
      $('#buttons').show();
    }
  }
  $("#hide-buttons").click(function(e) { toggle_buttons(); });

  $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
      e.stopPropagation();
  });

  {% if from_igb %}
    $('#hide-buttons').prop('checked', true);
    $('#paste-autosubmit').prop('checked', true);
  {% endif %}
  toggle_buttons();

  $("#modify-result").click(function() {
    if($(this).is(":checked")) {    
        $('#working_id').val($('#return_id').text()); }
    else {
        $('#working_id').val(''); }
  });
  
  if ($("#modify-result").is(":checked")) {    
        $('#working_id').val($('#return_id').text()); }
});
</script>

{% endblock %}
{% block body %}
	
    <div class="container">
      <div class="row">
        <div class="span5">
          <form action="{{ url_for('submit') }}" method="post" style="margin-bottom:10px;" class="well well-small" id="result_form">
            <input type="hidden" id="working_id" name="working_id" value="{% if results and results.result_id %}{{ results.result_id }}{% endif %}" />
            <textarea class="input-block-level" id="raw_textarea" name="raw_textarea" rows="20" placeholder="Copy fit here">[Imperial Navy Slicer, t1 guns?]

Damage Control II
Inertia Stabilizers II
Nanofiber Internal Structure II
Overdrive Injector System II
Tracking Enhancer II

Limited 1MN Microwarpdrive I
Warp Disruptor II

Small Energy Neutralizer II
Small Focused Modulated Pulse Energy Beam I, Imperial Navy Microwave S
Small Focused Modulated Pulse Energy Beam I, Imperial Navy Microwave S

Small Capacitor Control Circuit I
Small Capacitor Control Circuit I
Small Processor Overclocking Unit I
</textarea>
            <div class="controls form-inline clearfix">
              <div id="buttons" class="pull-left">
                <button type="submit" id="result_submit" class="btn btn-primary">Submit</button> 
                <button type="reset" class="btn">Reset</button> 
              </div>
			  <div class="pull-right">
                <input type="text" class='span1' id="fit_qty" name="fit_qty" placeholder="QTY" />
                <select class="span2" id="trade_region">
                  <option value="">Market Regions</option>
                  {% for id, name in regions.iteritems(): %}
                  <option value="{{ id }}"{% if session.region_id == id: %} selected="selected"{% endif %}>{{ name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
          <div class="well well-small centered" id="auth_container">
            <form action="{{ url_for('auth') }}" method="post" style="margin-bottom:10px;" id="auth_form">
              <h3>Authorization</h3>
              <p>Please enter the authorization code below to be able to modify result</p>
              <input name="auth_input" id="auth_input" class="span2 search-query" value="" maxlength="8" />
              
              <div class="controls form-inline clearfix">
                  <button type="submit" id="auth_submit" class="btn btn-primary">Submit</button> 
              </div>
            </form>
            <hr />
            <form action="{{ url_for('copy') }}" method="post" style="margin-bottom:10px;" id="copy_form">
              <button type="submit" id="copy_submit" class="btn btn-primary" name="copy_submit">Or, Copy Result to New Record</button> 
            </form>
          </div>
        </div>
        <div class="span7" id="result_container">
          {% block results %}          
            {% if error %}
            <div class="alert alert-error">
                <strong>ERROR:</strong> {{ error }}
            </div>
            {% endif %}
            <h4>What do I do?</h4>
            <p>
               Copy and Paste your EFT-formatted fitting into the field on the left, and press Submit to generate a result! Afterwards, you can continue to add to your previous result. Provided is an authentication code that can be used to restrict write-access to the results, and in the future there will be an option to restrict read-access via password.
            </p>
          {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}