{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block extra_menu_items %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><label style="margin-left:10px;" class="checkbox"><input id="hide-buttons" type="checkbox"{% if session['hide_buttons'] == 'true' %} checked{% endif%}> Hide buttons</label></li>
              <li><label style="margin-left:10px;" class="checkbox"><input id="paste-autosubmit" type="checkbox"{% if session['paste_autosubmit'] == 'true' %} checked{% endif%}> Autosubmit on paste</label></li>
              <li><label style="margin-left:10px;" class="checkbox"><input id="paste-save" type="checkbox"{% if session['save'] != 'false' %} checked{% endif%}> Save</label></li>
              <li><label style="margin-left:10px;" class="checkbox"><input id="pass-protect" type="checkbox"{% if session['protect'] != 'false' %} checked{% endif%}> Password Protect Shopping List</label></li>

            </ul>
          </li>
{% endblock %}
{% block extra_javascript %}
{{ super() }}
<script>
$(function() {
  $("#result_form").submit(function() {
    var result = $("#raw_textarea");
    var result_submit = $("#result_submit");
    // Disable form components
    result.attr("disabled", "disabled").addClass("disabled");
    result_submit.attr("disabled", "disabled").addClass("disabled");

    $.post("{{ url_for('submit') }}",
      {
        raw_paste: result.val(),
        hide_buttons: $("#hide-buttons").is(':checked'),
        paste_autosubmit: $("#paste-autosubmit").is(':checked'),
        save: $("#paste-save").is(':checked'),
        result_id: $('#working_id').val(),
        auth_code: $('#auth_code').val(),

      }, 
      function(data) {
        result.val('');
        // Enable form components
        result.removeAttr("disabled").removeClass("disabled");
        result_submit.removeAttr("disabled").removeClass("disabled");
        // Populate results
        $('#result_container').html(data);
        $('#working_id').val($('#return_id').val());
	 $("#fits").accordion({header: "> div > h3", collapsible: true});
      }).error(function() {
        // Enable form components
        result.removeAttr("disabled").removeClass("disabled");
        result_submit.removeAttr("disabled").removeClass("disabled");
        alert("Server responded with an error.");
      });
    return false;
  });

  $("#raw_textarea").bind('paste', function(e) {
    if($('#paste-autosubmit:checked').length > 0) {
      setTimeout(function() {
        $('#result_form').submit();
      }, 0);
    }
  });

  function toggle_buttons() {
    if ($("#hide-buttons").is(':checked'))
    {
      $('#buttons').hide();
    } else {
      $('#buttons').show();
    }
  }
  $("#hide-buttons").click(function(e) { toggle_buttons(); });

  $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
      e.stopPropagation();
  });

  {% if from_igb %}
    $('#hide-buttons').prop('checked', true);
    $('#paste-autosubmit').prop('checked', true);
  {% endif %}
  toggle_buttons();

  $("#fits").accordion({header: "> div > h3", collapsible: true});
  $('#working_id').val($('#return_id').val());

});
</script>
	
{% endblock %}
{% block body %}

    <div class="container">
      <div class="row">
        <div class="span5">
          <h4>Quick Estimate</h4>
          <form action="{{ url_for('submit') }}" method="post" style="margin-bottom:10px;" class="well well-small" id="result_form">
            <textarea class="input-block-level" id="raw_textarea" name="raw_textarea" rows="20" placeholder="Copy fit here">[Imperial Navy Slicer, t1 guns?]

Damage Control II
Inertia Stabilizers II
Nanofiber Internal Structure II
Overdrive Injector System II
Tracking Enhancer II

Limited 1MN Microwarpdrive I
Warp Disruptor II

Small Energy Neutralizer II
Small Focused Modulated Pulse Energy Beam I, Imperial Navy Microwave S
Small Focused Modulated Pulse Energy Beam I, Imperial Navy Microwave S

Small Capacitor Control Circuit I
Small Capacitor Control Circuit I
Small Processor Overclocking Unit I
</textarea>
            <input type="hidden" name="load_full" value="1"/><br />
            Working result: <input name="result_id" id="working_id" value="" /><br />
            Authorization Code: <input name="auth_code" id="auth_code" value="" />

            <div class="controls form-inline clearfix">
              <div id="buttons" class="pull-left">
                <button type="submit" id="result_submit" class="btn btn-primary">Submit</button> 
                <button type="reset" class="btn">Reset</button>
              </div>
			  <div class="pull-right input-append">
                <select class="span3" id="market">
                  <option value='30000142'>Jita</option>
                  <option value='30002187'>Amarr</option>
                  <option value='30002659'>Dodixie</option>
                  <option value='30002510'>Rens</option>
                  <option value='30002053'>Hek</option>
                </select>
              </div>
            </div>
			
          </form>
        </div>
        <div class="span7" id="result_container">
          {% block results %}          
            {% if error %}
            <div class="alert alert-error">
                <strong>{{_('error')}}:</strong> {{ error }}
            </div>
            {% endif %}
            <h4>What do I do?</h4>
            <p>
               Find something in Eve Online that you want to price check like a contract, cargo scan result, etc. Press <strong>CTRL + A, CTRL + C</strong>, then click on the lovely box to the left or above this and press <strong>CTRL + V</strong>. Submit and you should see a price breakdown of all the items.
            </p>

            <h4>What all can I paste in there?</h4>
            <p>
               At first, this started as a simple cargo scan estimator but over time more formats have been added to the parser so you can use it as a more general price checker. Currently the following formats are supported:
<ul>
  <li>Cargo Scanner</li>
  <li>EFT Format</li>
  <li>D-Scan</li>
  <li>Contracts</li>
  <li>Asset Listing (named ships don't work)</li>
  <li>Manual Entry. Example: "94812 Tritanium"</li>
</ul>

            </p>
          {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}