{% block header %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}fitShop - EVE Online Fitting Shopping Cart{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EVE Online Fitting Shopping Cart">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block extra_style %}
    {% endblock %}
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
    {% block extra_javascript %}
    {% endblock %}
  </head>
  <body>
    <h1><a href='/lpStore/'>eveShop</a></h1>

    <div id="help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="raw_paste_modal" aria-hidden="true">
      <div class="modal-body">
        <h4>What is this?</h4>
        <p>This tool aims to make shopping for your fittings easier than before. </p>
        <h4>Why would I use this?</h4>
        <p>"I need to buy three Slicers of this fit, two Slicers of that fit, 20 plexing Merlins, five real Merlins, a Thorax, and two Drakes". How many times have you thought something like this? It is common for those who have a bloodlust and go through ships quickly, and restocking ships and fittings can be a hassle. I tried many EVE "Shopping Lists" which were both overly complicated and didn't allow the functionality that I needed. So i took a shot at it myself. With fitShop, you can easily upload your fittings and have a handy shopping list displayed, complete with current, up-to-date prices.</p>
        <h4>How are prices calculated?</h5>
        <p>Prices are pulled from the <a href="https://eve-market-data-relay.readthedocs.org/en/latest/" target="_blank">EMDR network</a> via <a href="https://github.com/blitzmann/emdr-py" target="_blank">emdr-py</a>, another project of mine. We take the 5th percentile price and use that in our calculations. The pricing is limited to a select number of regions: The Forge, Metropolis, Heimatar, Sinq Laison, Domain. </p>
        <h4>Contact</h4>
        <p>Have a feature idea? Have a problem? Want to know more about how it works? Feel free to send me an in-game mail. My character name is <a href="https://gate.eveonline.com/Profile/Sable Blitzmann" target="_blank">Sable Blitzmann</a>. The source code is also available on <a href="https://github.com/blitzmann/fitShop">github</a></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
    <footer>
      <p class="footer">Created by <a href="https://gate.eveonline.com/Profile/Sable Blitzmann" target="_blank">Sable Blitzmann</a>, based on <a href="http://www.evepraisal.com/" target="_blank">Evepraisal</a> by <a href="https://gate.eveonline.com/Profile/Sable Blitzmann" target="_blank">Magerawr</a>. Feel free to send me questions, suggestions or donations of ISK. <br /> Source is available on <a href="https://github.com/blitzmann/fitShop">github</a>. All <a href="legal">Eve Related Materials</a> are property of CCP Games. See <a href="legal">Legal Notice</a></p>
    </footer>
    {% endblock %}
  </body>
</html>