{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block title %}Password Required{% endblock %}
{% block body %}
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <form action="{{ url_for('auth') }}" method="post" style="margin-bottom:10px;" class="well well-small centered" id="auth_form">
          <h3>Password Required</h3>
          <p>Please enter the password to view result RESULT###</p>
          
          <input name="auth_input" id="auth_input" class="span2 search-query" value="" />
          
          <div class="controls form-inline clearfix">
              <button type="submit" id="auth_submit" class="btn btn-primary">Submit</button> 
          </div>
        </form>
        </div>
      </div>
    </div>
{% endblock %}